* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* font-family: "Poppins", sans-serif; */
    font-family: "Montserrat", sans-serif;
}

body {
    font-size: 1.6rem;
}

/*! Comman */
:root {
    --bgr: #f9dbdb;
    --header-bgr: rgba(251, 230, 230, 0.8);
    --nav-bgr: #fbe6e6;
    --primary-text: #32323d;
    --secondary-text: #696969;
    --search-text: #282828;
    --purple-primary: #d14781;
    --hover-color: #cc3373;
}

.main {
    display: flex;
}

/*! Nav */
.nav {
    position: fixed;
    width: 246px;
    height: 100vh;
    background: var(--nav-bgr);
}

/*! Content */
.content {
    height: 300vh;
    margin-left: 246px;
    background: var(--bgr);
}

/*! Play List */
.playList {
    position: fixed;
    /* display: none; */
    width: 329px;
    height: 100vh;
    background: var(--bgr);
}
