.content {
    padding-bottom: 30px;
    min-height: 100vh;
    display: none;
}

.header {
    /* display: none; */
}

.top100 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.banner {
    position: relative;
    height: 280px;
    margin: -70px -60px 0;
}

.banner-img {
    height: 260px;
    background: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.8.38/static/media/banner-100.33cafe6b.png)
        top/cover no-repeat;
}

.banner-alpha {
    position: absolute;
    inset: 0;
    height: 100%;
    background: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.8.38/static/media/banner-100.33cafe6b.png);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.banner-blur2 {
    position: absolute;
    inset: 0;
    height: 100%;
    background-image: linear-gradient(180deg, transparent, var(--bgr));
}

.banner-blur {
    position: absolute;
    inset: 0;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0) 37%,
        var(--bgr)
    );
}

.banner svg {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.listSong {
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin-left: 240px;
    padding: 0 60px;
    background: var(--bgr);
    overflow: hidden;
    /* display: none; */
}

.listSong-infor {
    width: 30%;
}

.listSong-infor-img {
}

.listSong-infor-img img {
}

.listSong-infor__heading {
}

.listSong-infor__date {
}

.listSong-infor__singers {
}

.listSong-infor__liked {
}

.listSong-infor__btn {
}

.listSong-infor__btn i {
}

.listSong-content {
    flex-grow: 1;
}

.listSong-content__desc {
}

.listSong-content-list {
}

.listSong-content-list-heading {
}

.listSong-content-list-heading__title {
}

.listSong-content-list-item {
}

.listSong-content-list-item-infor {
}

.listSong-content-list-item-infor i {
}

.listSong-content-list-item-infor-img {
}

.listSong-content-list-item-infor-img img {
}

.listSong-content-list-item-infor-song {
}

.listSong-content-list-item-infor-song__name {
}

.listSong-content-list-item-infor-song__singer {
}

.listSong-content-list-item__album {
}

.listSong-content-list-item__time {
}
