/*! Comman */
:root {
    --bgr: #f9dbdb;
    --nav-bgr: #fbe6e6;
    --play-color: #f9c6c5;
    --primary-text: #32323d;
    --secondary-text: #696969;
    --selected-color: #d4baba;
    --hover-color: #ecd0d0;
    --purple-primary: #d14781;
    --hover-color: #cc3373;
    --alpha-bg: rgba(0, 0, 0, 0.05);
    --dark-bg: rgba(0, 0, 0, 0.5);
}

.content {
    padding-bottom: 30px;
    min-height: 100vh;
    /* display: none; */
}

.header {
    /* display: none; */
}

.pageTop100-content {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.banner {
    position: relative;
    height: 280px;
    margin: -70px -60px 0;
}

.banner-img {
    height: 260px;
    background: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.8.38/static/media/banner-100.33cafe6b.png)
        top/cover no-repeat;
}

.banner-alpha {
    position: absolute;
    inset: 0;
    height: 100%;
    background: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.8.38/static/media/banner-100.33cafe6b.png);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.banner-blur2 {
    position: absolute;
    inset: 0;
    height: 100%;
    background-image: linear-gradient(180deg, transparent, var(--bgr));
}

.banner-blur {
    position: absolute;
    inset: 0;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0) 37%,
        var(--bgr)
    );
}

.banner svg {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
}
