/*! Comman */
:root {
    --bgr: #f9dbdb;
    --nav-bgr: #fbe6e6;
    --play-color: #f9c6c5;
    --primary-text: #32323d;
    --secondary-text: #696969;
    --selected-color: #d4baba;
    --hover-color: #ecd0d0;
    --purple-primary: #d14781;
    --hover-color: #cc3373;
    --alpha-bg: rgba(0, 0, 0, 0.05);
    --dark-bg: rgba(0, 0, 0, 0.5);
}

.content {
    padding-bottom: 30px;
    min-height: 100vh;
    /* display: none; */
}

.header {
    /* display: none; */
}

.top100 {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 48px;
}

.banner {
    position: relative;
    height: 280px;
    margin: -70px -60px 0;
}

.banner-img {
    height: 260px;
    background: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.8.38/static/media/banner-100.33cafe6b.png)
        top/cover no-repeat;
}

.banner-alpha {
    position: absolute;
    inset: 0;
    height: 100%;
    background: url(https://zjs.zmdcdn.me/zmp3-desktop/releases/v1.8.38/static/media/banner-100.33cafe6b.png);
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.banner-blur2 {
    position: absolute;
    inset: 0;
    height: 100%;
    background-image: linear-gradient(180deg, transparent, var(--bgr));
}

.banner-blur {
    position: absolute;
    inset: 0;
    height: 100%;
    background-image: linear-gradient(
        180deg,
        hsla(0, 0%, 100%, 0) 37%,
        var(--bgr)
    );
}

.banner svg {
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
}

.listSong {
    position: relative;
    display: flex;
    width: 100%;
    min-height: 100vh;
    margin-left: 240px;
    padding: 20px 60px;
    background: var(--bgr);
    overflow: hidden;
    margin-top: 70px;
    display: none;
}

.listSong-infor {
    position: fixed;
    width: 300px;
    text-align: center;
    color: var(--secondary-text);
    font-size: 1.2rem;
    line-height: 1.75;
}

.listSong-infor-img {
    width: 100%;
}

.listSong-infor-img img {
    width: 100%;
    border-radius: 5px;
}

.listSong-infor__heading {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.5;
    color: var(--primary-text);
}

.listSong-infor__date {
}

.listSong-infor__singers {
}

.listSong-infor__singers span:hover {
    color: var(--purple-primary);
    cursor: pointer;
    transition: all 0.2s ease;
}

.listSong-infor__liked {
}

.listSong-infor__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    margin: 16px auto 0;
    padding: 6.25px 24px;
    font-size: 1.4rem;
    font-weight: 400;
    background: var(--purple-primary);
    color: white;
    border-radius: 999px;
    cursor: pointer;
}

.listSong-infor__btn i {
    margin-right: 10px;
    font-size: 1.6rem;
}

.listSong-content {
    margin-left: 330px;
    /* flex-grow: 1; */
}

.listSong-content__desc {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondary-text);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.listSong-content-list {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

.listSong-content-list-heading {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 14px;
    padding: 10px;
}

.listSong-content-list-heading::after {
    display: block;
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

.listSong-content-list-heading__title:first-child {
    width: 50%;
}

.listSong-content-list-heading__title:nth-child(2) {
    width: 40%;
}

.listSong-content-list-heading__title i {
    margin-right: 10px;
}

.listSong-content-list-item {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
}

.listSong-content-list-item::after {
    display: block;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.05);
}

.listSong-content-list-item-infor {
    display: flex;
    align-items: center;
    column-gap: 10px;
    width: 50%;
}

.listSong-content-list-item-infor i,
.listSong-content-list-heading__title i {
    font-size: 1.4rem;
    color: var(--secondary-text);
}

.listSong-content-list-item-infor-img {
}

.listSong-content-list-item-infor-img img {
    width: 40px;
    border-radius: 5px;
}

.listSong-content-list-item-infor-song {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.listSong-content-list-item-infor-song__name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-text);
}

.listSong-content-list-item-infor-song__singer,
.listSong-content-list-item__album,
.listSong-content-list-item__time {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--secondary-text);
}

.listSong-content-list-item__album {
    width: 40%;
}

.listSong-content-list-item__time {
    flex-grow: 1;
    text-align: center;
}
